In [1]:
# Hello World using Python
print("Hello World using Python")

Hello World using Python

In [58]:
# print user's input data and it's type
a=input("Enter anything:")
print("you enter:",a)
print(type(a))

Enter anything: uygifd

you enter: uygifd
<class 'str'>

In [8]:
# Arithmatic opertions
a=10
b=7
c=a+b
d=a-b
e=a//b
f=a*b
m=a%b
print("Sum=",c)
print("Sub",d)
print("Mul=",f)
print("div=",e)
print("remainder=",m)

Sum= 17
Sub 3
Mul= 70
div= 1
remainder= 3

In [14]:
# greatest among three numbers
a=3400
b=-204
c=905
print("Numbers are:",a,",",b,"and ",c)
if(a>b and a>c):
    print(a,"is big")
elif(b>c and b>a):
    print(b,"is big")
else:
    print(c,"is big")

Numbers are: 3400 , -204 and  905
3400 is big

In [24]:
# factorial of given number
num=int(input("Enter a number:"))
fact=1
for i in range(1,num+1):
    fact=fact*i
print("factorial of",num,"is",fact)

Enter a number: 6

factorial of 6 is 720

In [29]:
# fibonacci sequence
num=int(input("Enter Nth term:"))
n1=0
n2=1
if(num==1):
    print(n1)
else:
    print(n1)
    print(n2)
    for i in range(2,num):
        temp=n1+n2
        n1=n2
        n2=temp
        print(temp)

Enter Nth term: 7

0
1
1
2
3
5
8

In [30]:
# print @Main_Flow_Technology_Internship 5 times using for loop
for i in range(0,5):
    print("@Main_Flow_Technology_Internship")

@Main_Flow_Technology_Internship
@Main_Flow_Technology_Internship
@Main_Flow_Technology_Internship
@Main_Flow_Technology_Internship
@Main_Flow_Technology_Internship

In [31]:
# print 2 to 10 using while loop
i=2
while(i<=10):
    print(i)
    i=i+1

2
3
4
5
6
7
8
9
10

In [38]:
# use of break and continue
for i in range(0,11):
    if(i==3):
        continue
    elif(i==9):
        break
    else:
        print(i,end=" ")

0 1 2 4 5 6 7 8

In [53]:
# use of list
num_list=[2,4,6,8,10,11]
num_list.append(13)
print(num_list)
num_list.insert(3,56)
print(num_list)
num_list.remove(56)
print(num_list)
num_list.reverse()
print(num_list)
num_list.sort()
print(num_list)
print("length of list is:",len(num_list))
print("minimum no. in list is:",min(num_list))
print("maximum no. in list is:",max(num_list))
num_list.clear()
print(num_list)

[2, 4, 6, 8, 10, 11, 13]
[2, 4, 6, 56, 8, 10, 11, 13]
[2, 4, 6, 8, 10, 11, 13]
[13, 11, 10, 8, 6, 4, 2]
[2, 4, 6, 8, 10, 11, 13]
length of list is: 7
minimum no. in list is: 2
maximum no. in list is: 13
[]

In [54]:
# print sum of 2 numbers using function
def sum(m,n):
    c=a+b
    return c
a=int(input("Enter 1st number:"))
b=int(input("Enter 2nd number:"))
print("sum of above numbers is:",sum(a,b))

Enter 1st number: 45
Enter 2nd number: 9478

sum of above numbers is: 9523

In [57]:
# use of tuple
s_tuple=(25,45,6,3,5,'main','flow','internship',465)
print(s_tuple)
print("second element of tuple is:",s_tuple[1])

(25, 45, 6, 3, 5, 'main', 'flow', 'internship', 465)
second element of tuple is: 45